---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "${APP}-gatus-ep"
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: "${APP}"
        group: internal
        url: "https://${GATUS_SUBDOMAIN:-${APP}}.${SECRET_DOMAIN}${GATUS_PATH:-/}"
        interval: 1m
        client:
          dns-resolver: tcp://192.168.60.59:53
        conditions:
          - "[STATUS] == ${GATUS_STATUS:-200}"
          - "[BODY] == ${GATUS_BODY:-[BODY]}"
        # alerts:
        #   - type: discord
        #     send-on-resolved: true
        #     failure-threshold: 2
