---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375

docker:
  host: homepage-docker-proxy
  port: 2375

{% if 'infra' in group_names %}
docker-apps:
  host: homepage-proxy-apps.{{ generic__domain_name }}
  port: 443 # 2375 # Since we run it via proxy, we use port 443
  protocol: https

docker-media:
  host: homepage-proxy-media.{{ generic__domain_name }}
  port: 443 # 2375 # Since we run it via proxy, we use port 443
  protocol: https
{% endif %}

# svlfall:
#   host: svlfall.{{ generic__domain_name }}
#   port: 2376
#   tls:
#     # Note: actual dir used in container: /app/config/certs/docker-client
#     keyFile: certs/docker-client/private_key.pem
#     caFile: certs/docker-client/issuing_ca.pem
#     certFile: certs/docker-client/certificate.pem
