http:
  middlewares:
    middlewares-redirect-to-https:
      redirectscheme:
        scheme: "https"
    middlewares-rate-limit:
      rateLimit:
        average: 100
        burst: 50
    middlewares-secure-headers:
      headers:
        accessControlAllowMethods:
          - "GET"
          - "OPTIONS"
          - "PUT"
        accessControlMaxAge: 100
        hostsProxyHeaders:
          - "X-Forwarded-Host"
        # sslRedirect: true - Deprecated, use entrypoint redirection
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        # frameDeny: true # overwritten by customFrameOptionsValue
        contentTypeNosniff: true
        browserXssFilter: true
        referrerPolicy: "same-origin"
        # Setting contentSecurityPolicy is more secure but it can break things. Proper auth will reduce the risk.
        # the below line also breaks some apps due to 'none' - sonarr, radarr, etc.
        permissionsPolicy: "camera 'none'; geolocation 'none'; microphone 'none'; payment 'none'; usb 'none'; vr 'none';"
        customRequestHeaders:
          X-Forwarded-Proto: https
        customResponseHeaders:
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex,"
          server: ""
    middlewares-oauth:
      forwardAuth:
        address: "http://oauth2-proxy:4180"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-Forwarded-User"
    middlewares-authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https%3A%2F%2Fauth-{{ generic__hostname_suffix }}.{{ generic__domain_name }}%2F"
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Name
          - Remote-Email
    middlewares-whitelist-mgmt:
      ipWhiteList:
        sourceRange:
          - "127.0.0.1/32"
          - "192.168.1.11"
    middlewares-whitelist-webservers:
      ipWhiteList:
        sourceRange:
          - "127.0.0.1/32"
          - "192.168.1.11"
          - "192.168.60.2"
