---
development:
  hosts:
    svldev.MANAGEMENT:
      ansible_user: "jean-paul"

hypervisor:
  hosts:
    SVLHOST01.MANAGEMENT:
      ansible_user: "root"

samba:
  children:
    production:
      hosts:
        svlprod.PRODUCTION:
          ansible_user: "jean-paul"

docker:
  children:
    webservers:
      children:
        linux_amd64:
          children:
            internal:
              children:
                management:
                  hosts:
                    svlmgmt.MANAGEMENT:
                      ansible_user: "jean-paul"
                production:
                  hosts:
                    svlprod.PRODUCTION:
                      ansible_user: "jean-paul"
            external:
              hosts:
                svlext.ravensberg.org:
                  ansible_user: "jean-paul"

        linux_arm64_v8:
          children:
            internal:
              children:
                fallback:

    dnsservers:
      hosts:
        svlmgmt.MANAGEMENT:
          ansible_user: "jean-paul"
        svlext.ravensberg.org:
          ansible_user: "jean-paul"

    vpnservers:
      hosts:
        svlext.ravensberg.org:
          ansible_user: "jean-paul"
