---

#
# Docker
#

puid: "{{ docker__uid_map[inventory_hostname_short] | default(1000, true) }}"
pgid: "{{ docker__uid_map[inventory_hostname_short] | default(994, true) }}"

docker_dir: "/srv/docker"
docker_data_dir: "/mnt/data"
docker_archive_dir: "/mnt/archive"

docker__uid_map:
  svlapps: 3001
  svldev: 3002
  svlinfra: 3003
  svlmedia: 3004

docker__users: ["{{ ansible_env.SUDO_USER | d('root') }}"]

docker__cron_jobs_prune_flags: "af"
docker__cron_jobs_prune_schedule: ["0", "0", "*", "*", "0"]
docker__cron_jobs:
  - name: "Docker disk clean up"
    job: "docker system prune -{{ docker__cron_jobs_prune_flags }} > /dev/null 2>&1"  # yamllint disable-line rule:line-length
    schedule: "{{ docker__cron_jobs_prune_schedule }}"
    cron_file: "docker-disk-clean-up"
    user: "{{ (docker__users | first) | d('root') }}"
