services:
  bitwarden:
    image: bitwarden/self-host:2025.2.1-beta@sha256:d8d510eb726e0c2d265cb1f46f5ee22f208851eef5976efbd27172f1871a570c
    container_name: bitwarden
    depends_on:
      - traefik
      - bitwarden-db
    restart: always
    networks:
      - bitwarden-frontend
      - bitwarden-backend
    security_opt:
      - no-new-privileges=true
    mem_limit: 200m
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      # MySQL
      - BW_DB_PROVIDER=mysql
      - BW_DB_SERVER=bitwarden-db
      - BW_DB_DATABASE=bitwarden
      - BW_DB_USERNAME=bitwarden
      - BW_DB_PASSWORD=${BITWARDEN_MYSQL_PASSWORD}
      # Bitwarden
      - BW_DOMAIN=bitwarden.$DOMAINNAME
      - BW_INSTALLATION_ID=${BITWARDEN_INSTALLATION_ID}
      - BW_INSTALLATION_KEY=${BITWARDEN_INSTALLATION_KEY}
    volumes:
      - bitwarden_data:/etc/bitwarden
    labels:
      # Homepage
      - homepage.group=Productivity
      - homepage.name=Bitwarden
      - homepage.icon=bitwarden.svg
      - homepage.href=https://bitwarden.$DOMAINNAME
      - homepage.description=Password Vault
      # Group
      - org.label-schema.group=productivity
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=bitwarden-frontend"
      ## Middlewares
      - "traefik.http.routers.bitwarden-rtr.middlewares=chain-auth@file"
      ## HTTP Services
      - "traefik.http.routers.bitwarden-rtr.service=bitwarden"
      ### Enable the server port
      - "traefik.http.services.bitwarden.loadbalancer.server.port=8080"

  bitwarden-db:
    image: mariadb:11.7.2@sha256:11706a6fd276c2eada52d0d69b1a2aa1f1484cbe78137678e02cca8f7a0ae502
    container_name: bitwarden-db
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    restart: always
    security_opt:
      - no-new-privileges=true
    networks:
      - bitwarden-backend
    volumes:
      - bitwarden_db_data:/var/lib/mysql
    mem_limit: 1024m
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${BITWARDEN_MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${BITWARDEN_MYSQL_PASSWORD}
      - MYSQL_DATABASE=bitwarden
      - MYSQL_USER=bitwarden
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
    healthcheck:
      interval: 30s
      retries: 3
      test:
        [
          "CMD",
          "healthcheck.sh",
          "--su-mysql",
          "--connect",
          "--innodb_initialized"
        ]
      timeout: 30s

  bitwarden-db-backup:
    container_name: bitwarden-db-backup
    image: tiredofit/db-backup:4.1.19@sha256:26eca0cda2b5decb4e296917f9aaebda2e6f89a237663a65e1cb3eccfe432cd0
    depends_on:
      - bitwarden-db
    volumes:
      - $DOCKERDIR/data/backup:/backup
    networks:
      - bitwarden-backend
    mem_limit: 1024m
    environment:
      - TIMEZONE=${TZ}
      - USER_DBBACKUP=${PUID}
      - GROUP_DBBACKUP=${PGID}
      - CONTAINER_NAME=bitwarden-db-backup
      - CONTAINER_ENABLE_MONITORING=FALSE # Disables Zabbix backup statistics

      - ENABLE_NOTIFICATIONS=TRUE
      - NOTIFICATION_TYPE=EMAIL
      - SMTP_HOST=mailrise
      - SMTP_PORT=${NOTIFICATIONS_MAILRISE_SMTP_PORT}
      - MAIL_TO=msteams@mailrise.xyz
      - MAIL_FROM=bitwarden-db-backup

      - DEFAULT_CHECKSUM=SHA1        # Set standard checksum to SHA1
      - DEFAULT_COMPRESSION=ZSTD     # Compress all with ZSTD
      - DEFAULT_BACKUP_INTERVAL=1440 # Backup every 1440 minutes = 24 hours
      - DEFAULT_BACKUP_BEGIN=0000    # Start backing up at midnight
      - DEFAULT_CLEANUP_TIME=2880    # Cleanup backups after two days

      - DEFAULT_ENCRYPT=TRUE                            # Encrypt backup files with GPG
      - DEFAULT_ENCRYPT_PASSPHRASE=${DB_ENC_PASSPHRASE} # Set encryption password

      - DB01_TYPE=mysql
      - DB01_HOST=bitwarden-db
      - DB01_NAME=bitwarden
      - DB01_USER=bitwarden
      - DB01_PORT=3306
      - DB01_PASS=${BITWARDEN_MYSQL_PASSWORD}
    restart: always
    security_opt:
      - no-new-privileges=true

volumes:
  bitwarden_data:
  bitwarden_db_data:

networks:
  bitwarden-frontend:
    name: bitwarden-frontend
  bitwarden-backend:
    name: bitwarden-backend
