services:
  code-server:
    image: lscr.io/linuxserver/code-server:version-4.89.0@sha256:678e01467fecf0d1d32b938f3f5324a69f74f9187d37fadddb8f926024524b8b
    container_name: code-server
    depends_on:
      - traefik
    restart: always
    security_opt:
      - no-new-privileges=true
    mem_limit: 1024m
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PROXY_DOMAIN=code.$DOMAINNAME
      - DEFAULT_WORKSPACE=/config/workspace
      # - PASSWORD=password #optional
      # - HASHED_PASSWORD= #optional
      # - SUDO_PASSWORD=password #optional
      # - SUDO_PASSWORD_HASH= #optional
    networks:
      - code-server-frontend
    volumes:
      - $DOCKERDIR/data/code-server/config:/config
      - $DOCKERDIR/data/code-server/custom-cont-init.d:/custom-cont-init.d:ro
      - home_assistant_data:/ha_data
    labels:
      # Homepage
      - homepage.group=Productivity
      - homepage.name=Visual Studio Code
      - homepage.icon=code.svg
      - homepage.href=https://code.$DOMAINNAME
      - homepage.description=Code Server in the Browser
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=code-server-frontend"
      ## Middlewares
      - "traefik.http.routers.code-server-rtr.middlewares=chain-auth@file"
      ## HTTP Services
      - "traefik.http.routers.code-server-rtr.rule=Host(`code.$DOMAINNAME`)"
      - "traefik.http.routers.code-server-rtr.service=code-server"
      # Enable the management port
      - "traefik.http.services.code-server.loadbalancer.server.port=8443"

volumes:
  ## Add additional volumes
  home_assistant_data:

networks:
  code-server-frontend:
    name: code-server-frontend
