services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.8.1@sha256:f3942ddd88f45648708dc5595b83a2d9757194ac0e80cc25944f031e02ac03bf
    depends_on:
      - traefik
      - dozzle-docker-proxy
    command: --remote-host tcp://dozzle-docker-proxy:2375|Docker
    networks:
      - t2_proxy
      - dozzle-backend
    restart: always
    security_opt:
      - no-new-privileges=true
    mem_limit: 1024m
    environment:
      - TZ=${TZ}
      - DOZZLE_NO_ANALYTICS=true
    labels:
      # Homepage
      - homepage.group=Infrastructure
      - homepage.name=Dozzle
      - homepage.icon=dozzle.svg
      - homepage.href=https://dozzle-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME
      - homepage.description=Container Log Viewer
      # Traefik
      - "traefik.enable=true"
      ## Middlewares
      - "traefik.http.routers.dozzle-rtr.middlewares=chain-auth@file"
      ## HTTP Services
      - "traefik.http.routers.dozzle-rtr.rule=Host(`dozzle-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME`)"
      - "traefik.http.routers.dozzle-rtr.service=dozzle-svc"
      - "traefik.http.services.dozzle-svc.loadbalancer.server.port=8080"

  dozzle-docker-proxy:
    image: lscr.io/linuxserver/socket-proxy:version-1.26.2-r0@sha256:d6d936c98bd7ab4f643ace8c548293d6cd511f0692471e1e9bfb5e144e63627a
    container_name: dozzle-docker-proxy
    restart: always
    networks:
      - dozzle-backend
    environment:
      - TZ=${TZ}
      - CONTAINERS=1 # Allow access to viewing containers'
      - EVENTS=1 # Enabled by default
      - POST=0 # Disallow any POST operations (effectively read-only)
    security_opt:
      - no-new-privileges=true
    mem_limit: 50m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run

networks:
  dozzle-backend:
    name: dozzle-backend
    driver: bridge
