services:
  drawio:
    image: jgraph/drawio:28.2.8@sha256:9c3bfff2d59a948e0c4bc0638b080056a2e688cc5c9d1533c3ad4f24b2a64e47
    container_name: drawio
    depends_on:
      - traefik
    restart: always
    mem_limit: 1024m
    security_opt:
      - no-new-privileges=true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - drawio-frontend
    labels:
      # Homepage
      - homepage.group=Productivity
      - homepage.name=Draw.io
      - homepage.icon=sh-draw-io
      - homepage.href=https://draw.$DOMAINNAME
      - homepage.description=Flowchart & Diagram Maker
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=drawio-frontend"
      ## HTTP Routers
      - "traefik.http.routers.drawio-rtr.rule=Host(`draw.$DOMAINNAME`)"
      ## Middlewares
      - "traefik.http.routers.drawio-rtr.middlewares=chain-auth@file"
      ## HTTP Services
      - "traefik.http.routers.drawio-rtr.service=drawio-svc"
      - "traefik.http.services.drawio-svc.loadbalancer.server.port=8080"
    # Saves some CPU cycles + healthcheck doesn't do anything on failure
    # healthcheck:
    #   test: ["CMD-SHELL", "curl -f http://drawio:8080 || exit 1"]
    #   interval: 20s
    #   timeout: 3s
    #   retries: 5
    #   start_period: 3s

networks:
  drawio-frontend:
    name: drawio-frontend
