services:
  excalidraw:
    image: excalidraw/excalidraw:latest@sha256:b0b28b8d822519bf7fb9e2fab4a1e74754a557a4f6f42d36756ce95d281d62c5
    container_name: excalidraw
    depends_on:
      - traefik
    restart: always
    mem_limit: 1024m
    security_opt:
      - no-new-privileges=true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - excalidraw-frontend
    labels:
      # Homepage
      - homepage.group=Productivity
      - homepage.name=Excalidraw
      - homepage.icon=sh-excalidraw
      - homepage.href=https://excalidraw.$DOMAINNAME
      - homepage.description=Virtual Whiteboard
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=excalidraw-frontend"
      ## Middlewares
      - "traefik.http.routers.excalidraw-rtr.middlewares=chain-auth@file"
      ## HTTP Services
      - "traefik.http.routers.excalidraw-rtr.service=excalidraw-svc"
      - "traefik.http.services.excalidraw-svc.loadbalancer.server.port=80"

networks:
  excalidraw-frontend:
    name: excalidraw-frontend
