services:
  gatus:
    image: twinproduction/gatus:v5.30.0@sha256:bab5a31cb3cfde7fd9913a5ff97652883e4db08f3b429a62a7a188c746df4219
    container_name: gatus
    depends_on:
      - traefik
      - gatus-db
    restart: always
    networks:
      - gatus-frontend
      - gatus-backend
    security_opt:
      - no-new-privileges=true
    mem_limit: 500m
    environment:
      - TZ=${TZ}
      # Database
      - DB_ENGINE=postgres
      - DB_DATABASE=gatus
      - DB_USER=gatus
      - DB_PASSWORD=${GATUS_DB_PASSWORD}
      - DB_HOST=gatus-db
      - DB_PORT=5432
      # Webhooks
      - GATUS_MSTEAMS_WEBHOOK_URL=${GATUS_MSTEAMS_WEBHOOK_URL}
      # Other
      - DOMAINNAME=${DOMAINNAME}
      - IP_SVLEXT=${GENERIC_IPS_SVLEXT}
    volumes:
      - $DOCKERDIR/data/gatus/config.yaml:/config/config.yaml
    labels:
      # Homepage
      - homepage.group=Infrastructure
      - homepage.name=Gatus
      - homepage.icon=gatus.svg
      - homepage.href=https://status-docker.$DOMAINNAME
      - homepage.description=Uptime Monitoring
      ## Widget
      - homepage.widget.type=gatus
      - homepage.widget.url=http://gatus:8080
      # Group
      - org.label-schema.group=productivity
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=gatus-frontend"
      ## Middlewares
      - "traefik.http.routers.gatus-rtr.middlewares=chain-auth@file"
      - "traefik.http.routers.gatus-rtr.rule=Host(`status-docker.$DOMAINNAME`)"
      ## HTTP Services
      - "traefik.http.routers.gatus-rtr.service=gatus"
      ### Enable the server port
      - "traefik.http.services.gatus.loadbalancer.server.port=8080"

  gatus-db:
    image: docker.io/library/postgres:17.6-alpine@sha256:ef257d85f76e48da1c64832459b59fcaba1a4dac97bf5d7450c77753542eee94
    container_name: gatus-db
    restart: always
    security_opt:
      - no-new-privileges=true
    mem_limit: 1024m
    shm_size: 128mb
    depends_on:
      gatus-db-upgrade:
        condition: service_completed_successfully
    volumes:
      - gatus_db_data:/var/lib/postgresql/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - POSTGRES_DB=gatus
      - POSTGRES_USER=gatus
      - POSTGRES_PASSWORD=${GATUS_DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - gatus-backend

  gatus-db-backup:
    container_name: gatus-db-backup
    image: tiredofit/db-backup:4.1.21@sha256:36e7888e4887e57e3ab3ec5ecd4782f345226084df6d3fdd93b2d3e4a2162274
    depends_on:
      - gatus-db
    volumes:
      - /mnt/smb_share_backup/gatus:/backup
    mem_limit: 1024m
    networks:
      - gatus-backend
    environment:
      - TIMEZONE=${TZ}
      - USER_DBBACKUP=${PUID}
      - GROUP_DBBACKUP=${PGID}
      - CONTAINER_NAME=gatus-db-backup
      - CONTAINER_ENABLE_MONITORING=FALSE # Disables Zabbix backup statistics

      - ENABLE_NOTIFICATIONS=TRUE
      - NOTIFICATION_TYPE=EMAIL
      - SMTP_HOST=mailrise
      - SMTP_PORT=${NOTIFICATIONS_MAILRISE_SMTP_PORT}
      - MAIL_TO=msteams@mailrise.xyz
      - MAIL_FROM=gatus-db-backup

      - DEFAULT_CHECKSUM=SHA1        # Set standard checksum to SHA1
      - DEFAULT_COMPRESSION=ZSTD     # Compress all with ZSTD
      - DEFAULT_BACKUP_INTERVAL=1440 # Backup every 1440 minutes = 24 hours
      - DEFAULT_BACKUP_BEGIN=0000    # Start backing up at midnight
      - DEFAULT_CLEANUP_TIME=2880    # Cleanup backups after two days

      - DEFAULT_ENCRYPT=TRUE                            # Encrypt backup files with GPG
      - DEFAULT_ENCRYPT_PASSPHRASE=${DB_ENC_PASSPHRASE} # Set encryption password

      - DB01_TYPE=pgsql
      - DB01_HOST=gatus-db
      - DB01_NAME=gatus
      - DB01_USER=gatus
      - DB01_PORT=5432
      - DB01_PASS=${GATUS_DB_PASSWORD}
    restart: always
    security_opt:
      - no-new-privileges=true

  gatus-db-upgrade:
    image: pgautoupgrade/pgautoupgrade:17.6-alpine@sha256:66fc7b3167eb27406fd04636d9fc0da732e487d4c4ad8fef0bfc0079b6aed414
    container_name: gatus-db-upgrade
    restart: no
    security_opt:
      - no-new-privileges=true
    mem_limit: 1024m
    shm_size: 128mb
    volumes:
      - gatus_db_data:/var/lib/postgresql/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - POSTGRES_DB=gatus
      - POSTGRES_USER=gatus
      - POSTGRES_PASSWORD=${GATUS_DB_PASSWORD}
      - PGDATA=/var/lib/postgresql/data
      - PGAUTO_ONESHOT=yes
    network_mode: none

volumes:
  gatus_db_data:

networks:
  gatus-frontend:
    name: gatus-frontend
  gatus-backend:
    name: gatus-backend
