services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:v1.3.2@sha256:4f923bf0e9391b3a8bc5527e539b022e92dcc8a3a13e6ab66122ea9ed030e196
    depends_on:
      - traefik
      - homepage-docker-proxy
    restart: always
    networks:
      - homepage-frontend
      - homepage-backend
    environment:
      # TODO: [Docker API] Enable Docker API so that Homepage doesn't need to run as root
      # https://gethomepage.dev/latest/configs/docker/
      # - PUID=${PUID}
      # - PGID=${PGID}
      - TZ=${TZ}
      - HOMEPAGE_ALLOWED_HOSTS=apps-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME # Hostname of the Traefik container
    security_opt:
      - no-new-privileges=true
    mem_limit: 200m
    volumes:
      - $DOCKERDIR/data/homepage:/app/config
      - /etc/ssl/docker-client:/app/config/certs/docker-client:ro
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=homepage-frontend"
      ## Middlewares
      - "traefik.http.routers.homepage-rtr.middlewares=chain-no-auth@file"
      ## HTTP Services
      - "traefik.http.routers.homepage-rtr.rule=Host(`apps-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME`)"
      - "traefik.http.routers.homepage-rtr.service=homepage"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"

  homepage-docker-proxy:
    image: lscr.io/linuxserver/socket-proxy:version-3.0.10-r0@sha256:1cb7a03e3bae30463beeaa65db76aa301b66d3070c0b48e945912a3d23cdb29f
    container_name: homepage-docker-proxy
    restart: always
    networks:
      - homepage-backend
{% if 'apps' in group_names or 'media' in group_names %}
      - homepage-frontend
{% endif %}
    environment:
      - TZ=${TZ}
      - CONTAINERS=1 # Allow access to viewing containers
      #- SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      #- TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=0 # Disallow any POST operations (effectively read-only)
    security_opt:
      - no-new-privileges=true
    mem_limit: 50m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run
{% if 'apps' in group_names or 'media' in group_names %}
    labels:
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=homepage-frontend"
      ## Middlewares
      - "traefik.http.routers.homepage-proxy-rtr.middlewares=chain-no-auth-svlinfra-whitelist@file"
      ## HTTP Services
      - "traefik.http.routers.homepage-proxy-rtr.rule=Host(`homepage-proxy-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME`)"
      - "traefik.http.routers.homepage-proxy-rtr.service=homepage-proxy"
      - "traefik.http.services.homepage-proxy.loadbalancer.server.port=2375"
{% endif %}

networks:
  homepage-frontend:
    name: homepage-frontend
  homepage-backend:
    name: homepage-backend
