services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:v0.9.13@sha256:1504b26bd82523e68adbae8c5a908d1633d02c68c65b62d084d81a6866552db6
    depends_on:
      - traefik
      - homepage-docker-proxy
    restart: always
    networks:
      - t2_proxy
      - homepage-backend
    environment:
      # TODO: [Docker API] Enable Docker API so that Homepage doesn't need to run as root
      # https://gethomepage.dev/latest/configs/docker/
      # - PUID=${PUID}
      # - PGID=${PGID}
      - TZ=${TZ}
    security_opt:
      - no-new-privileges=true
    mem_limit: 200m
    volumes:
      - $DOCKERDIR/data/homepage:/app/config
      - /etc/ssl/docker-client:/app/config/certs/docker-client:ro
    labels:
      # Traefik
      - "traefik.enable=true"
      ## Middlewares
      - "traefik.http.routers.homepage-rtr.middlewares=chain-no-auth@file"
      ## HTTP Services
      - "traefik.http.routers.homepage-rtr.rule=Host(`apps-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME`)"
      - "traefik.http.routers.homepage-rtr.service=homepage"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"

  homepage-docker-proxy:
    image: lscr.io/linuxserver/socket-proxy:version-1.26.2-r0@sha256:d6d936c98bd7ab4f643ace8c548293d6cd511f0692471e1e9bfb5e144e63627a
    container_name: homepage-docker-proxy
    restart: always
    networks:
      - homepage-backend
    environment:
      - TZ=${TZ}
      - CONTAINERS=1 # Allow access to viewing containers
      #- SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      #- TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=0 # Disallow any POST operations (effectively read-only)
    security_opt:
      - no-new-privileges=true
    mem_limit: 50m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run

networks:
  homepage-backend:
    name: homepage-backend
    driver: bridge
