services:
  n8n:
    image: n8nio/n8n:1.69.2@sha256:0adfff289ee1d4cc64644e909a140d620ec0f7d645fa0bc0852c369afadbe0e6
    container_name: n8n
    depends_on:
      - traefik
      - n8n-db
    restart: always
    networks:
      - t2_proxy
      - n8n-backend
    security_opt:
      - no-new-privileges=true
    mem_limit: 500m
    environment:
      - TZ=${TZ}
      # Database
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=n8n-db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=${N8N_DB_PASSWORD}
    volumes:
      - n8n_data:/home/node/.n8n
    labels:
      # Homepage
      - homepage.group=Productivity
      - homepage.name=n8n
      - homepage.icon=n8n.svg
      - homepage.href=https://n8n.$DOMAINNAME
      - homepage.description=Workflow Automation
      # Group
      - org.label-schema.group=productivity
      # Traefik
      - "traefik.enable=true"
      ## Middlewares
      - "traefik.http.routers.n8n-rtr.middlewares=chain-auth@file"
      - "traefik.http.routers.n8n-rtr.rule=Host(`n8n.$DOMAINNAME`)"
      ## HTTP Services
      - "traefik.http.routers.n8n-rtr.service=n8n"
      ### Enable the server port
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"

  n8n-db:
    image: docker.io/library/postgres:16.6-alpine@sha256:52bba373df3c13594014b5e9ccc9f3c2cdb2221d50db1a91ec64570819f18aba
    container_name: n8n-db
    restart: always
    security_opt:
      - no-new-privileges=true
    mem_limit: 1024m
    volumes:
      - n8n_db_data:/var/lib/postgresql/data
      - $DOCKERDIR/data/n8n/init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - POSTGRES_DB=n8n
      - POSTGRES_USER=n8n
      - POSTGRES_PASSWORD=${N8N_DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - n8n-backend

  n8n-db-backup:
    container_name: n8n-db-backup
    image: tiredofit/db-backup:4.1.9@sha256:0b2d0dee38fbe5dbffd63df59afc2b812d36f31ff1213a0f45f7e8901ac9de87
    depends_on:
      - n8n-db
    volumes:
      - $DOCKERDIR/data/backup:/backup
    mem_limit: 1024m
    networks:
      - n8n-backend
    environment:
      - TIMEZONE=${TZ}
      - USER_DBBACKUP=${PUID}
      - GROUP_DBBACKUP=${PGID}
      - CONTAINER_NAME=n8n-db-backup
      - CONTAINER_ENABLE_MONITORING=FALSE # Disables Zabbix backup statistics

      - ENABLE_NOTIFICATIONS=TRUE
      - NOTIFICATION_TYPE=EMAIL
      - SMTP_HOST=mailrise
      - SMTP_PORT=${NOTIFICATIONS_MAILRISE_SMTP_PORT}
      - MAIL_TO=msteams@mailrise.xyz
      - MAIL_FROM=n8n-db-backup

      - DEFAULT_CHECKSUM=SHA1        # Set standard checksum to SHA1
      - DEFAULT_COMPRESSION=ZSTD     # Compress all with ZSTD
      - DEFAULT_BACKUP_INTERVAL=1440 # Backup every 1440 minutes = 24 hours
      - DEFAULT_BACKUP_BEGIN=0000    # Start backing up at midnight
      - DEFAULT_CLEANUP_TIME=2880    # Cleanup backups after two days

      - DEFAULT_ENCRYPT=TRUE                            # Encrypt backup files with GPG
      - DEFAULT_ENCRYPT_PASSPHRASE=${DB_ENC_PASSPHRASE} # Set encryption password

      - DB01_TYPE=pgsql
      - DB01_HOST=n8n-db
      - DB01_NAME=n8n
      - DB01_USER=n8n
      - DB01_PORT=5432
      - DB01_PASS=${N8N_DB_PASSWORD}
    restart: always
    security_opt:
      - no-new-privileges=true

volumes:
  n8n_db_data:
  n8n_data:

networks:
  n8n-backend:
    name: n8n-backend
    driver: bridge
