services:
  traefik:
    container_name: traefik
    image: traefik:v3.6.4@sha256:c5bd185c41ba3dbb42cf8a1b9fbdc368bdc96f90c8e598134879935f64e7a7f1
    depends_on:
      - traefik-docker-proxy
    restart: always
    networks:
      traefik-backend:
      #% for network in frontend_networks +%#
      # Dynamically added by Ansible
      {{ network }}: {}
      #% endfor +%#
    security_opt:
      - no-new-privileges=true
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
#% if 'infra' in group_names %#
      # Unifi Guest portal can only be reached on 8843
      - target: 8843
        published: 8843
        protocol: tcp
        mode: host
#% endif %#
#% if 'external' in group_names %#
      # Separate port for public HTTPS access
      - target: {{ generic__public_https_port }}
        published: {{ generic__public_https_port }}
        protocol: tcp
        mode: host
#% endif %#
#% if 'vpnservers' in group_names %#
      # Wireguard VPN
      - target: 51820
        published: 51820
        protocol: udp
        mode: host
#% endif %#
    volumes:
      - $DOCKERDIR/data/traefik/acme/acme.json:/acme.json
      - $DOCKERDIR/data/traefik/certchain:/certchain
      - $DOCKERDIR/data/traefik/rules:/rules
      - $DOCKERDIR/data/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
    mem_limit: 1024m
    environment:
      - TZ=${TZ}
      - CF_API_EMAIL=$CLOUDFLARE_EMAIL
      - CF_DNS_API_TOKEN=$CLOUDFLARE_API_TOKEN
    labels:
      # Homepage
      - homepage.group=Per Server Consoles
      - homepage.name=Traefik - $GENERIC_HOSTNAME_SUFFIX
      - homepage.icon=traefik.svg
      - homepage.href=https://traefik-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME
      - homepage.description=Application Proxy
      ## Widget
      # - homepage.widget.type=traefik
      # - homepage.widget.url=https://traefik:8080
      # Traefik
      - "traefik.enable=true"
      ## Middlewares
      - "traefik.http.routers.traefik-rtr.middlewares=chain-auth@file"
      ## HTTP Services
      - "traefik.http.routers.traefik-rtr.rule=Host(`traefik-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME`)"
      - "traefik.http.routers.traefik-rtr.service=api@internal"
      ## TLS
      - "traefik.http.routers.traefik-rtr.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.traefik-rtr.tls.domains[0].main=$DOMAINNAME"
      - "traefik.http.routers.traefik-rtr.tls.domains[0].sans=*.$DOMAINNAME"
    # Saves some CPU cycles + healthcheck doesn't do anything on failure
    # healthcheck:
    #   test: ["CMD-SHELL","traefik healthcheck --ping.entrypoint ping --entryPoints.ping.address=:8267 --ping"]

  traefik-docker-proxy:
    # TODO: [docker] Restore version pinning for ghcr.io hosted images since they have a distinct digest per arch
    image: lscr.io/linuxserver/socket-proxy:version-3.2.9-r0@sha256:d1367ec4f0d01077afe972ea8b800538db7ca1b9714bf4eb3a24794b8e51ec97
    container_name: traefik-docker-proxy
    restart: always
    networks:
      - traefik-backend
    environment:
      - TZ=${TZ}
      - CONTAINERS=1 # Allow access to viewing containers
    security_opt:
      - no-new-privileges=true
    mem_limit: 50m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run

networks:
  traefik-backend:
    name: traefik-backend
    driver: bridge
