services:
  traefik:
    container_name: traefik
    image: traefik:v2.11.31@sha256:91ec852c76c2509984f6c1fddc99322b1a325f26dfdcc85706cb02db06980cb9
    depends_on:
      - traefik-docker-proxy
    restart: always
    networks:
      traefik-backend:
      #% for network in frontend_networks +%#
      # Dynamically added by Ansible
      {{ network }}: {}
      #% endfor +%#
    security_opt:
      - no-new-privileges=true
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
#% if 'infra' in group_names %#
      # Unifi Guest portal can only be reached on 8843
      - target: 8843
        published: 8843
        protocol: tcp
        mode: host
#% endif %#
#% if 'vpnservers' in group_names %#
      # Wireguard VPN
      - target: 51820
        published: 51820
        protocol: udp
        mode: host
#% endif %#
    volumes:
      - $DOCKERDIR/data/traefik/acme/acme.json:/acme.json
      - $DOCKERDIR/data/traefik/certchain:/certchain
      - $DOCKERDIR/data/traefik/rules:/rules
      - $DOCKERDIR/data/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
    mem_limit: 1024m
    environment:
      - TZ=${TZ}
      - CF_API_EMAIL=$CLOUDFLARE_EMAIL
      - CF_DNS_API_TOKEN=$CLOUDFLARE_API_TOKEN
    labels:
      # Homepage
      - homepage.group=Per Server Consoles
      - homepage.name=Traefik - $GENERIC_HOSTNAME_SUFFIX
      - homepage.icon=traefik.svg
      - homepage.href=https://traefik-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME
      - homepage.description=Application Proxy
      ## Widget
      # - homepage.widget.type=traefik
      # - homepage.widget.url=https://traefik:8080
      # Traefik
      - "traefik.enable=true"
      ## Middlewares
      - "traefik.http.routers.traefik-rtr.middlewares=chain-auth@file"
      ## HTTP Services
      - "traefik.http.routers.traefik-rtr.rule=Host(`traefik-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME`)"
      - "traefik.http.routers.traefik-rtr.service=api@internal"
      ## TLS
      - "traefik.http.routers.traefik-rtr.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.traefik-rtr.tls.domains[0].main=$DOMAINNAME"
      - "traefik.http.routers.traefik-rtr.tls.domains[0].sans=*.$DOMAINNAME"
    # Saves some CPU cycles + healthcheck doesn't do anything on failure
    # healthcheck:
    #   test: ["CMD-SHELL","traefik healthcheck --ping.entrypoint ping --entryPoints.ping.address=:8267 --ping"]

  traefik-docker-proxy:
    # TODO: [docker] Restore version pinning for ghcr.io hosted images since they have a distinct digest per arch
    image: lscr.io/linuxserver/socket-proxy:version-1.24.0-r16@sha256:5095b08491874c14dd3463b5d2a452a5a2ec2244cc71687a71994e6780d6839c
    container_name: traefik-docker-proxy
    restart: always
    networks:
      - traefik-backend
    environment:
      - TZ=${TZ}
      - CONTAINERS=1 # Allow access to viewing containers
    security_opt:
      - no-new-privileges=true
    mem_limit: 50m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    read_only: true
    tmpfs:
      - /run

networks:
  traefik-backend:
    name: traefik-backend
    driver: bridge
