services:
  traefik-forward-auth:
    image: ghcr.io/italypaleale/traefik-forward-auth:4.5.0@sha256:4bc20751924975b6c06589efdb4bbf8db98768abcea361f0d6484873f707ccbc
    container_name: traefik-forward-auth
    depends_on:
      - traefik
    networks:
      - traefik-backend
    restart: always
    security_opt:
      - no-new-privileges=true
    read_only: true
    mem_limit: 200m
    volumes:
      - $DOCKERDIR/data/traefik-forward-auth/config.yaml:/etc/traefik-forward-auth/config.yaml:ro
    environment:
      - TZ=${TZ}
    labels:
      # Homepage
      # - homepage.group=Infrastructure
      # - homepage.name=Traefik Forward Auth
      # - homepage.icon=traefik.svg
      # - homepage.href=https://auth-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME
      # - homepage.description=Authentication Service
      # Group
      - org.label-schema.group=Infrastructure
      # Traefik
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-backend"
      ## HTTP Services
      - "traefik.http.routers.treafik-forward-auth-rtr.rule=Host(`auth-$GENERIC_HOSTNAME_SUFFIX.$DOMAINNAME`)"
      - "traefik.http.routers.treafik-forward-auth-rtr.service=treafik-forward-auth"
      ### Enable the server port
      - "traefik.http.services.treafik-forward-auth.loadbalancer.server.port=4181"
