# A Record
## SVLMGMT
local-data: "SVLMGMT.{{ generic__domain_name }} A 192.168.1.11"

local-data: "adguard.{{ generic__domain_name }} A 192.168.1.11"
local-data: "auth.{{ generic__domain_name }} A 192.168.1.11"
local-data: "homepage.{{ generic__domain_name }} A 192.168.1.11"
local-data: "portainer.{{ generic__domain_name }} A 192.168.1.11"
local-data: "traefik.{{ generic__domain_name }} A 192.168.1.11"
local-data: "unifi.{{ generic__domain_name }} A 192.168.1.11"
local-data: "unifi-guest.{{ generic__domain_name }} A 192.168.1.11"

## HOST01
local-data: "HOST01.{{ generic__domain_name }} A 192.168.1.30"

## Home
local-data: "home.{{ generic__domain_name }} A 192.168.50.2"
local-data: "proxy.{{ generic__domain_name }} A 192.168.50.2"
local-data: "receiver.{{ generic__domain_name }} A 192.168.50.2"
