#
#### DEPRECATION NOTICE
## This compose module is no longer in use
## Replaced by: favonia/cloudflare-ddns
#

services:
  cloudflare-companion:
    container_name: cloudflare-companion
    image: tiredofit/traefik-cloudflare-companion:7.3.2@sha256:716a265a69f5f75ddbb089c19fe8e4b52cfd891f1dd426fe0e525a3ddf941ac8
    depends_on:
      - traefik
    # volumes:
      # Since I only use keep one domain in sync, it doesn't need the socket proxy
      # - /var/run/docker.sock:/var/run/docker.sock
    mem_limit: 1024m
    environment:
      - TIMEZONE=${TZ}

      - LOG_TYPE=BOTH
      - LOG_LEVEL=INFO

      - TRAEFIK_VERSION=2
      # - ENABLE_TRAEFIK_POLL=TRUE
      - CF_TOKEN=$CLOUDFLARE_API_TOKEN
      - RC_TYPE=CNAME

      - TARGET_DOMAIN=SVLMGMT.$CLOUDFLARE_DOMAIN_1_FQDN
      - DOMAIN1=$CLOUDFLARE_DOMAIN_1_FQDN
      - DOMAIN1_ZONE_ID=$CLOUDFLARE_DOMAIN_1_ZONE_ID
      - DOMAIN1_PROXIED=FALSE
    restart: always
    security_opt:
      - no-new-privileges=true
