---
name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      validate_all:
        type: choice
        description: "Validate all codebase?"
        required: true
        default: "false"
        options:
          - "false"
          - "true"
      log_level:
        type: choice
        description: 'Log level for GitHub Super Linter'
        required: true
        default: 'ERROR'
        options:
          - "DEBUG"
          - "ERROR"
          - "INFO"
          - "NOTICE"
          - "WARN"
  push:
    branches-ignore: [master, main, renovate/*]
  pull_request:
    branches: [master, main]

permissions: {}

jobs:
  build:
    name: Lint
    if: github.actor != 'renovate[bot]' && !github.event.issue.pull_request # We shouldn't mess with the Renovate[bot] commits in PRs
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: Load environment variables from super-linter config
        run: cat .github/super-linter.env >> "$GITHUB_ENV"

      - name: Set VALIDATE_ALL_CODEBASE variable
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo "VALIDATE_ALL_CODEBASE=${{ github.event.inputs.validate_all }}" >> "$GITHUB_ENV"
          echo "LOG_LEVEL=${{ github.event.inputs.log_level }}" >> "$GITHUB_ENV"

      - name: Super-linter
        uses: super-linter/super-linter@v8.3.0 # x-release-please-version
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
