---
name: "Run Todo to Issue"

on:
  push:
    branches:
      - main

permissions:
  contents: read
  issues: write

jobs:
  run:
    name: "Run Todo to Issue"
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@c45b007d85c8edf3365b139a9d4c65793e7c674f" # v5
        with:
          AUTO_ASSIGN: false
