---
name: "Run Todo to Issue"

on:
  push:
    branches:
      - main

permissions:
  contents: read
  issues: write

jobs:
  run:
    name: "Run Todo to Issue"
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@v5"
        with:
          AUTO_ASSIGN: false
