# A Record
## SVLMGMT
local-data: "SVLMGMT.{{ generic__domain_name }} A 192.168.1.11"
## SVLPROD
local-data: "SVLPROD.{{ generic__domain_name }} A 192.168.60.2"
## SVLHOST01
local-data: "SVLHOST01.{{ generic__domain_name }} A 192.168.1.30"

## Home
local-data: "home.{{ generic__domain_name }} A 192.168.50.2"
local-data: "proxy.{{ generic__domain_name }} A 192.168.50.2"
local-data: "receiver.{{ generic__domain_name }} A 192.168.50.2"

# TODO: [unbound] Dynamically generate list of records to create
local-data: "adguard.{{ generic__domain_name }} A 192.168.1.11"
local-data: "auth-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "auth-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "bitwarden.{{ generic__domain_name }} A 192.168.1.11"
local-data: "cadvisor-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "cadvisor-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "change-detection.{{ generic__domain_name }} A 192.168.60.2"
local-data: "cloud.{{ generic__domain_name }} A 192.168.60.2"
local-data: "code.{{ generic__domain_name }} A 192.168.60.2"
local-data: "dozzle-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "dozzle-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "draw.{{ generic__domain_name }} A 192.168.60.2"
local-data: "echo-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "echo-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "excalidraw.{{ generic__domain_name }} A 192.168.60.2"
local-data: "grafana.{{ generic__domain_name }} A 192.168.1.11"
local-data: "homepage-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "homepage-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "influxdb-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "influxdb-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "paperless.{{ generic__domain_name }} A 192.168.60.2"
local-data: "plex.{{ generic__domain_name }} A 192.168.60.2"
local-data: "phpmyadmin-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "phpmyadmin-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "portainer-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "portainer-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "prometheus.{{ generic__domain_name }} A 192.168.1.11"
local-data: "speedtest.{{ generic__domain_name }} A 192.168.60.2"
local-data: "traefik-mgmt.{{ generic__domain_name }} A 192.168.1.11"
local-data: "traefik-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "unifi-guest.{{ generic__domain_name }} A 192.168.1.11"
local-data: "unifi.{{ generic__domain_name }} A 192.168.1.11"
local-data: "uptime.{{ generic__domain_name }} A 192.168.1.11"
