# Security: prevent WPAD lookups, ref: DEF CON 32 2024.
local-data: "wpad A 127.0.0.1"

# A Record
## SVLDEV
local-data: "SVLDEV.{{ generic__domain_name }} A 192.168.1.12"
## SVLPROD
local-data: "SVLPROD.{{ generic__domain_name }} A 192.168.60.2"
## SVLNAS
local-data: "SVLNAS.{{ generic__domain_name }} A 192.168.1.30"
## SVLAPPS
local-data: "SVLAPPS.{{ generic__domain_name }} A 192.168.60.7"
## SVLMEDIA
local-data: "SVLMEDIA.{{ generic__domain_name }} A 192.168.60.6"
## SVLINFRA
local-data: "SVLINFRA.{{ generic__domain_name }} A 192.168.1.15"
## SVLEXT
local-data: "SVLEXT.{{ generic__domain_name }} A {{ generic__ips_svlext }}"

## Home
local-data: "home.{{ generic__domain_name }} A 192.168.50.2"
local-data: "proxy.{{ generic__domain_name }} A 192.168.50.2"
local-data: "receiver.{{ generic__domain_name }} A 192.168.50.2"
local-data: "shelly1.{{ generic__domain_name }} A 192.168.50.2"
local-data: "shelly2.{{ generic__domain_name }} A 192.168.50.2"
local-data: "shelly3.{{ generic__domain_name }} A 192.168.50.2"

# TODO: [unbound] Dynamically generate list of records to create
## Apps
### External
local-data: "adguard-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "api-tester.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "api-tester-admin.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "api-tester-api.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "apps-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "auth-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
# local-data: "change-detection.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "cyberchef.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
#local-data: "dozzle-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "draw.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "echo-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "excalidraw.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
# local-data: "habits.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "homepage-proxy-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
# local-data: "jupyter.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "n8n.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
# local-data: "portainer-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "search.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "tools.{{ generic__domain_name }} A {{ generic__ips_svlext }}"
local-data: "traefik-ext.{{ generic__domain_name }} A {{ generic__ips_svlext }}"

### Internal
local-data: "adguard-infra.{{ generic__domain_name }} A 192.168.1.15"
local-data: "apps.{{ generic__domain_name }} A 192.168.1.15"
local-data: "auth-apps.{{ generic__domain_name }} A 192.168.60.7"
local-data: "auth-infra.{{ generic__domain_name }} A 192.168.1.15"
local-data: "auth-media.{{ generic__domain_name }} A 192.168.60.6"
local-data: "auth-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "chat.{{ generic__domain_name }} A 192.168.60.7"
local-data: "cloud.{{ generic__domain_name }} A 192.168.60.2"
local-data: "cloud-noauth.{{ generic__domain_name }} A 192.168.60.2"
local-data: "code.{{ generic__domain_name }} A 192.168.60.2"
# local-data: "docs.{{ generic__domain_name }} A 192.168.60.7"
# local-data: "dozzle-apps.{{ generic__domain_name }} A 192.168.60.7"
# local-data: "dozzle-infra.{{ generic__domain_name }} A 192.168.1.15"
# local-data: "dozzle-media.{{ generic__domain_name }} A 192.168.60.6"
# local-data: "dozzle-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "echo-apps.{{ generic__domain_name }} A 192.168.60.7"
local-data: "echo-infra.{{ generic__domain_name }} A 192.168.1.15"
local-data: "echo-media.{{ generic__domain_name }} A 192.168.60.6"
local-data: "echo-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "home-assistant.{{ generic__domain_name }} A 192.168.60.2"
local-data: "homepage-proxy-apps.{{ generic__domain_name }} A 192.168.60.7"
local-data: "homepage-proxy-media.{{ generic__domain_name }} A 192.168.60.6"
local-data: "linkding.{{ generic__domain_name }} A 192.168.60.2"
local-data: "metube.{{ generic__domain_name }} A 192.168.60.7"
local-data: "paperless.{{ generic__domain_name }} A 192.168.60.2"
local-data: "paperless-noauth.{{ generic__domain_name }} A 192.168.60.2"
# local-data: "papermerge.{{ generic__domain_name }} A 192.168.60.2"
local-data: "photos.{{ generic__domain_name }} A 192.168.60.7"
local-data: "photos-noauth.{{ generic__domain_name }} A 192.168.60.7"
local-data: "plex.{{ generic__domain_name }} A 192.168.60.7"
local-data: "plex-noauth.{{ generic__domain_name }} A 192.168.60.7"
# local-data: "portainer-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "sabnzbd.{{ generic__domain_name }} A 192.168.60.6"
local-data: "speedtest.{{ generic__domain_name }} A 192.168.60.7"
local-data: "status-docker.{{ generic__domain_name }} A 192.168.1.15"
local-data: "traefik-apps.{{ generic__domain_name }} A 192.168.60.7"
local-data: "traefik-infra.{{ generic__domain_name }} A 192.168.1.15"
local-data: "traefik-media.{{ generic__domain_name }} A 192.168.60.6"
local-data: "traefik-prod.{{ generic__domain_name }} A 192.168.60.2"
local-data: "tubesync.{{ generic__domain_name }} A 192.168.60.7"
local-data: "unifi.{{ generic__domain_name }} A 192.168.1.15"
local-data: "unifi-guest.{{ generic__domain_name }} A 192.168.1.15"
local-data: "unifi-noauth.{{ generic__domain_name }} A 192.168.1.15"
local-data: "vault.{{ generic__domain_name }} A 192.168.1.15"
# local-data: "wallabag.{{ generic__domain_name }} A 192.168.60.2"
